body {
    margin: 0;
}

.navbar {
    background-color: darkslategray;
    padding: 10px;
    text-align: left;
    font-size: large;
    font-family: Verdana, Tahoma, sans-serif;
}

main {
    background-image: url('./img/skyline.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

footer {
    background-color: #363b4e;
    padding-bottom: 1rem;
}

.footer-content {
    width: 45%;
    height: 50%;
    background-color: #363b4e;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.footer-content a {
    color: #fff;
}