body {
    margin: 0;
}

.navbar {
    background-color: darkslategray;
    padding: 10px;
    text-align: left;
    font-size: large;
    font-family: Verdana, Tahoma, sans-serif;
}

main {
    background-image: url('./img/skyline.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

footer {
    background-color: #363b4e;
}