<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\style.css">
    <title>Singapore Weather Forecast Website</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar">
                <p>Singapore Weather Forecast Website</p>
            </a>
        </nav>
    </header>
    <main>
        <section class="forecast">
            <article class="today-forecast">
                <div class="forecast-header">
                    <div class="day">{{ today_day }}</div>
                    <div class="date">{{ today_month_date }}</div>
                </div>
                <div class="forecast-content">
                    <div class="location">Singapore</div>
                    <div class="temp">
                        <div class="high-temp">{{ today_high_temp }}<sup>o</sup>C</div>
                        <div class="low-temp">{{ today_low_temp }}<sup>o</sup>C</div>
                        <div class="forecast-icon">
                            <span><img src="{{ today_forecast_img }}" alt="Forecast" width=90px></span>
                        </div>	
                    </div>
                    <img src="../static/img/humidity.png" alt="Humidity" width=30px>{{ humidity }}%
                    <img src="../static/img/windspeed.jpg" alt="Wind Speed" width=40px>{{ wind_speed }}km/h
                    <img src="../static/img/winddirection.png" alt="Wind Direction" width=40px>{{ wind_direction }}
                </div>
            </article>
            <article class="forecast">
                <div class="forecast-header">
                    <div class="day">{{ day2 }}</div>
                </div>
                <div class="forecast-content">
                    <div class="forecast-icon">
                        <img src="{{ day2_forecast_img }}" alt="Forecast" width=60px>
                    </div>
                    <div class="temp">
                        {{ day2_high_temp }}<sup>o</sup>C
                    </div>
                    <small>{{ day2_low_temp }}<sup>o</sup></small>
                </div>
            </article>
            <article class="forecast">
                <div class="forecast-header">
                    <div class="day">{{ day3 }}</div>
                </div>
                <div class="forecast-content">
                    <div class="forecast-icon">
                        <img src="{{ day3_forecast_img }}" alt="Forecast" width=60px>
                    </div>
                    <div class="temp">
                        {{ day3_high_temp }}<sup>o</sup>C
                    </div>
                    <small>{{ day3_low_temp }}<sup>o</sup></small>
                </div>
            </article>
            <article class="forecast">
                <div class="forecast-header">
                    <div class="day">{{ day4 }}</div>
                </div>
                <div class="forecast-content">
                    <div class="forecast-icon">
                        <img src="{{ day4_forecast_img }}" alt="Forecast" width=60px>
                    </div>
                    <div class="temp">
                        {{ day4_high_temp }}<sup>o</sup>C
                    </div>
                    <small>{{ day4_low_temp }}<sup>o</sup></small>
                </div>
            </article>
            <article class="forecast">
                <div class="forecast-header">
                    <div class="day">{{ day5 }}</div>
                </div>
                <div class="forecast-content">
                    <div class="forecast-icon">
                        <img src="{{ day5_forecast_img }}" alt="Forecast" width=60px>
                    </div>
                    <div class="temp">
                        {{ day5_high_temp }}<sup>o</sup>C
                    </div>
                    <small>{{ day5_low_temp }}<sup>o</sup></small>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-content">
                <a href="https://data.gov.sg/dataset/weather-forecast">API Used</a>
            </div>
            <div class="footer-content">
                <a href="https://github.com/shoelesshoe/weatherapp">Github</a>
            </div>
        </div>
    </footer>
</body>
</html>
