<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\style.css">
    <title>Weather App</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar">
                <p>This is my Weather Website!!!!</p>
            </a>
        </nav>
    </header>
    <main>
        <article class="today-forecast">
            <div class="forecast-header">
                <div class="day">{{ today_day }}</div>
                <div class="date">{{ today_month_date }}</div>
            </div>
            <div class="forecast-content">
                <div class="location">Singapore</div>
                <div class="temp">
                    <div class="high-temp">{{ today_high_temp }}<sup>o</sup>C</div>
                    <div class="low-temp">{{ today_low_temp }}<sup>o</sup>C</div>
                    <div class="forecast-icon">
                        <img src="{{ today_forecast_img }}" alt="Forecast">
                    </div>	
                </div>
                <span><img src="../static/img/humidity.png" alt="Humidity">{{ humidity }}%</span>
                <span><img src="../static/img/windspeed.jpg" alt="Wind Speed">{{ wind_speed }}km/h</span>
                <span><img src="../static/img/winddirection.png" alt="Wind Direction">{{ wind_direction }}</span>
            </div>
        </article>
        <article class="forecast">
            <div class="forecast-header">
                <div class="day">{{ day2 }}</div>
            </div>
            <div class="forecast-content">
                <div class="forecast-icon">
                    <img src="{{ day2_forecast_img }}" alt="Forecast">
                </div>
                <div class="temp">
                    {{ day2_high_temp }}<sup>o</sup>C
                </div>
                <small>{{ day2_low_temp }}<sup>o</sup></small>
            </div>
        </article>
        <article class="forecast">
            <div class="forecast-header">
                <div class="day">{{ day3 }}</div>
            </div>
            <div class="forecast-content">
                <div class="forecast-icon">
                    <img src="{{ day3_forecast_img }}" alt="Forecast">
                </div>
                <div class="temp">
                    {{ day3_high_temp }}<sup>o</sup>C
                </div>
                <small>{{ day3_low_temp }}<sup>o</sup></small>
            </div>
        </article>
        <article class="forecast">
            <div class="forecast-header">
                <div class="day">{{ day4 }}</div>
            </div>
            <div class="forecast-content">
                <div class="forecast-icon">
                    <img src="{{ day4_forecast_img }}" alt="Forecast">
                </div>
                <div class="temp">
                    {{ day4_high_temp }}<sup>o</sup>C
                </div>
                <small>{{ day4_low_temp }}<sup>o</sup></small>
            </div>
        </article>
        <article class="forecast">
            <div class="forecast-header">
                <div class="day">{{ day5 }}</div>
            </div>
            <div class="forecast-content">
                <div class="forecast-icon">
                    <img src="{{ day5_forecast_img }}" alt="Forecast">
                </div>
                <div class="temp">
                    {{ day5_high_temp }}<sup>o</sup>C
                </div>
                <small>{{ day5_low_temp }}<sup>o</sup></small>
            </div>
        </article>
    </main>
    <footer>
        <div class="footer-content">
            <a href="https://data.gov.sg/dataset/weather-forecast">API Used</a>
        </div>
        <div class="footer-content">
            <a href="https://github.com/shoelesshoe/weatherapp">Github</a>
        </div>
    </footer>
</body>
</html>
